* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky {
    background: rgba(255, 255, 255, 1);

}
header:hover {
    background: rgba(255, 255, 255, 1);
}
.logo {
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;
}

.menu > li {
    padding: 0 12px;
    position: relative;
}

.menu > li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #cccc;
    padding: 30px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
}

.sub-menu ul {
    padding-left: 20px;
}

.sub-menu ul a {
    font-weight: normal;
    font-size: 12px;
}

.menu>li>a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.others {
    flex: 1;
    display: flex;
}

.others>li {
    padding: 0 12px;
    position: relative;
}
.others>li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #dddddd;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others >li:last-child::after {
    display: none;
}
.others>li :first-child {
    position: relative;
}

.others>li :first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.others>li:first-child i {
    position: absolute;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot {
    height:16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}
/* --------------app------------------- */
.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app-google {
    margin: 50px;
}
.app-google img {
    height: 50px;
    cursor: pointer;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
footer {
    text-align: center;
}
.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img {
    /* height: 50px; */
}
.footer-top li {
    padding: 0 12px;
    position: relative;
}
.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li :last-child::after {
    display: none;
} 
.footer-top li:last-child a {
    margin-right: 12px;
}
.footer-center {
    text-align: center;
}
.footer-bottom {
    margin: 20px 0;
}
/* Cartegory */
.cartegory {
    padding: 100px 0 0;
}
.cartegory-top {
    margin-bottom: 50px ;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left {
    width: 20%;
}
.cartegory-right {
    width: 80%;
}
.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;

}
.cartegory-right-top-item {
    flex: 1;
    padding: 0 12px;
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cartegory-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.cartegory-right-content-item img {
     width: 100%;
}
.cartegory-right-content-item p {
   font-size: 12px;
}
.cartegory-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.cartegory-right-bottom p {
    font-size: 11px;
    font-family: var(--main-text-font);
}
.cartegory-left ul li {
    padding: 12px 0;
}
.cartegory-left ul li> a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
    padding-left: 10px;
}
.cartegory-left-li ul{
    display: none;
}
.cartegory-left-li.block ul {
    display: block;
}
.cartegory-left ul li ul li a {
    color: #333;
    font-size: 12px;
}